@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  @apply border-zinc-800;
}
::selection {
  @apply bg-zinc-900 text-zinc-200;
}
input,
textarea {
  @apply bg-[unset] caret-accent outline-none;
}
html {
  &::-webkit-scrollbar {
    @apply h-0 w-0;
  }
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
svg {
  @apply inline-block size-auto shrink-0 stroke-[1.5] align-middle;
}
@media (screen(md)) {
  ::-webkit-scrollbar {
    @apply md:size-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-900 hover:bg-zinc-800;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
input,
textarea,
button,
a {
  @apply outline outline-0 outline-offset-2 outline-accent focus-visible:outline-2;
}
code {
  @apply font-[unset];
}
[data-radix-popper-content-wrapper] > * {
  &[data-state='open'],
  &[data-state='delayed-open'] {
    &[data-side='top'] {
      animation: appearTop 0.2s ease-out forwards;
      @keyframes appearTop {
        from {
          opacity: 0;
          translate: 0;
        }
        to {
          opacity: 1;
          translate: 0 -0.25rem;
        }
      }
    }
    &[data-side='bottom'] {
      animation: appearBottom 0.2s ease-out forwards;
      @keyframes appearBottom {
        from {
          opacity: 0;
          translate: 0 -0.25rem;
        }
        to {
          opacity: 1;
          translate: 0;
        }
      }
    }
    &[data-side='right'] {
      animation: appearRight 0.2s ease-out forwards;
      @keyframes appearRight {
        from {
          opacity: 0;
          translate: 0;
        }
        to {
          opacity: 1;
          translate: 0.25rem 0;
        }
      }
    }
  }
  &[data-state='closed'] {
    &[data-side='top'] {
      animation: disappearTop 0.1s ease-out forwards;
      @keyframes disappearTop {
        from {
          opacity: 1;
          translate: 0 -0.25rem;
        }
        to {
          opacity: 0;
          translate: 0;
        }
      }
    }
    &[data-side='bottom'] {
      animation: disappearBottom 0.1s ease-out forwards;
      @keyframes disappearBottom {
        from {
          opacity: 1;
          translate: 0;
        }
        to {
          opacity: 0;
          translate: 0 -0.25rem;
        }
      }
    }
    &[data-side='right'] {
      animation: disappearRight 0.1s ease-out forwards;
      @keyframes disappearRight {
        from {
          opacity: 1;
          translate: 0.25rem 0;
        }
        to {
          opacity: 0;
          translate: 0;
        }
      }
    }
  }
}
